In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
df = pd.read_csv('./ZTF23absbqun.csv')
df.head()

,id,mjd,mag,magerr,limiting_mag,filter,instrument_name,instrument_id,snr,magsys,...,altdata,ra,dec,ra_unc,dec_unc,created_at,annotations,owner,Edit,Delete
0,521124682,60246.453850,NaN,NaN,18.42,atlaso,ATLAS,72,NaN,ab,...,NaN,67.33432,70.42709,NaN,NaN,2023-12-12T12:53:36.278241,NaN,[object Object],NaN,NaN
1,521124683,60246.455656,NaN,NaN,18.36,atlaso,ATLAS,72,NaN,ab,...,NaN,67.33432,70.42709,NaN,NaN,2023-12-12T12:53:36.278308,NaN,[object Object],NaN,NaN
2,521124684,60246.477827,NaN,NaN,18.43,atlaso,ATLAS,72,NaN,ab,...,NaN,67.33432,70.42709,NaN,NaN,2023-12-12T12:53:36.278329,NaN,[object Object],NaN,NaN
3,521124685,60246.481899,NaN,NaN,18.46,atlaso,ATLAS,72,NaN,ab,...,NaN,67.33432,70.42709,NaN,NaN,2023-12-12T12:53:36.278345,NaN,[object Object],NaN,NaN
4,521124686,60248.493899,NaN,NaN,18.62,atlaso,ATLAS,72,NaN,ab,...,NaN,67.33432,70.42709,NaN,NaN,2023-12-12T12:53:36.278360,NaN,[object Object],NaN,NaN

In [3]:
df = df[df['instrument_name'] == 'ZTF']

In [4]:
df

,id,mjd,mag,magerr,limiting_mag,filter,instrument_name,instrument_id,snr,magsys,...,altdata,ra,dec,ra_unc,dec_unc,created_at,annotations,owner,Edit,Delete
32,518817455,60257.281042,NaN,NaN,19.307400,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369500,NaN,[object Object],NaN,NaN
33,518817456,60257.282500,NaN,NaN,19.347900,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369555,NaN,[object Object],NaN,NaN
34,518817457,60257.364595,NaN,NaN,20.112499,ztfg,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369574,NaN,[object Object],NaN,NaN
35,518817458,60257.366505,NaN,NaN,20.098101,ztfg,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369590,NaN,[object Object],NaN,NaN
36,519222965,60258.354410,NaN,NaN,20.191799,ztfg,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-09T04:35:38.986861,NaN,[object Object],NaN,NaN
41,518817459,60259.407199,NaN,NaN,20.112000,ztfg,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369604,NaN,[object Object],NaN,NaN
42,518817460,60259.431238,NaN,NaN,20.287100,ztfg,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369618,NaN,[object Object],NaN,NaN
43,518817461,60259.450868,NaN,NaN,20.265800,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369632,NaN,[object Object],NaN,NaN
44,518817462,60259.452836,NaN,NaN,20.186501,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369645,NaN,[object Object],NaN,NaN
49,518817463,60261.266794,NaN,NaN,20.218700,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369659,NaN,[object Object],NaN,NaN
50,518817464,60261.432130,NaN,NaN,20.439699,ztfg,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369691,NaN,[object Object],NaN,NaN
51,518817465,60261.432650,NaN,NaN,20.354401,ztfg,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369706,NaN,[object Object],NaN,NaN
52,518817466,60261.447268,NaN,NaN,20.413700,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369720,NaN,[object Object],NaN,NaN
53,518817467,60263.367928,NaN,NaN,20.187901,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369734,NaN,[object Object],NaN,NaN
54,518817468,60263.434271,NaN,NaN,20.367201,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369747,NaN,[object Object],NaN,NaN
86,518817469,60285.232014,19.342347,0.151364,19.734177,ztfg,ZTF,1,7.173021,ab,...,NaN,67.334321,70.427086,NaN,NaN,2023-12-07T05:49:42.369760,NaN,[object Object],NaN,NaN
87,519222958,60285.232014,19.342301,0.151364,19.734130,ztfg,ZTF,1,7.173015,ab,...,NaN,67.334321,70.427086,NaN,NaN,2023-12-09T04:35:38.758553,NaN,[object Object],NaN,NaN
96,519222966,60287.146042,18.849651,0.088425,19.825106,ztfg,ZTF,1,12.278680,ab,...,NaN,67.334323,70.427064,NaN,NaN,2023-12-09T04:35:38.986919,NaN,[object Object],NaN,NaN
97,519313855,60287.201586,18.926500,0.077294,20.048022,ztfg,ZTF,1,14.046837,ab,...,NaN,67.334225,70.427050,NaN,NaN,2023-12-09T07:02:51.916751,NaN,[object Object],NaN,NaN
98,519258651,60287.201586,18.926485,0.077294,20.048011,ztfg,ZTF,1,14.046887,ab,...,NaN,67.334225,70.427050,NaN,NaN,2023-12-09T05:11:46.830970,NaN,[object Object],NaN,NaN
99,519313856,60287.282373,18.194027,0.057870,19.629786,ztfr,ZTF,1,18.761755,ab,...,NaN,67.334322,70.427099,NaN,NaN,2023-12-09T07:02:51.916819,NaN,[object Object],NaN,NaN
100,519787222,60287.282373,18.194000,0.057870,19.629752,ztfr,ZTF,1,18.761641,ab,...,NaN,67.334322,70.427099,NaN,NaN,2023-12-10T06:28:10.683603,NaN,[object Object],NaN,NaN
101,519787223,60288.253449,18.285641,0.089602,19.246729,ztfr,ZTF,1,12.117285,ab,...,NaN,67.334437,70.426988,NaN,NaN,2023-12-10T06:28:10.683658,NaN,[object Object],NaN,NaN
102,519851698,60288.253449,18.285601,0.089602,19.246692,ztfr,ZTF,1,12.117321,ab,...,NaN,67.334437,70.426988,NaN,NaN,2023-12-10T07:57:09.512094,NaN,[object Object],NaN,NaN
103,520446295,60288.321250,19.147900,0.179262,19.356065,ztfg,ZTF,1,6.056700,ab,...,NaN,67.334540,70.427029,NaN,NaN,2023-12-11T09:03:53.566515,NaN,[object Object],NaN,NaN
104,519851699,60288.321250,19.147854,0.179262,19.356017,ztfg,ZTF,1,6.056688,ab,...,NaN,67.334540,70.427029,NaN,NaN,2023-12-10T07:57:09.512151,NaN,[object Object],NaN,NaN
105,520446296,60289.323750,NaN,NaN,18.586201,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-11T09:03:53.566598,NaN,[object Object],NaN,NaN
106,520873332,60289.368241,19.636200,0.192752,19.765589,ztfg,ZTF,1,5.632814,ab,...,NaN,67.334483,70.427000,NaN,NaN,2023-12-12T09:44:32.263477,NaN,[object Object],NaN,NaN
107,520446297,60289.368241,19.636187,0.192752,19.765575,ztfg,ZTF,1,5.632810,ab,...,NaN,67.334483,70.427000,NaN,NaN,2023-12-11T09:03:53.566627,NaN,[object Object],NaN,NaN
117,520873333,60290.366123,NaN,NaN,20.076099,ztfg,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-12T09:44:32.263560,NaN,[object Object],NaN,NaN
118,520873334,60290.388333,18.965548,0.087551,19.951783,ztfr,ZTF,1,12.401211,ab,...,NaN,67.334358,70.427035,NaN,NaN,2023-12-12T09:44:32.263595,NaN,[object Object],NaN,NaN

In [9]:
filters = [df[df['filter'] == filter] for filter in df['filter'].unique()]
filters[0]

,id,mjd,mag,magerr,limiting_mag,filter,instrument_name,instrument_id,snr,magsys,...,altdata,ra,dec,ra_unc,dec_unc,created_at,annotations,owner,Edit,Delete
32,518817455,60257.281042,NaN,NaN,19.307400,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369500,NaN,[object Object],NaN,NaN
33,518817456,60257.282500,NaN,NaN,19.347900,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369555,NaN,[object Object],NaN,NaN
43,518817461,60259.450868,NaN,NaN,20.265800,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369632,NaN,[object Object],NaN,NaN
44,518817462,60259.452836,NaN,NaN,20.186501,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369645,NaN,[object Object],NaN,NaN
49,518817463,60261.266794,NaN,NaN,20.218700,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369659,NaN,[object Object],NaN,NaN
52,518817466,60261.447268,NaN,NaN,20.413700,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369720,NaN,[object Object],NaN,NaN
53,518817467,60263.367928,NaN,NaN,20.187901,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369734,NaN,[object Object],NaN,NaN
54,518817468,60263.434271,NaN,NaN,20.367201,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-07T05:49:42.369747,NaN,[object Object],NaN,NaN
99,519313856,60287.282373,18.194027,0.057870,19.629786,ztfr,ZTF,1,18.761755,ab,...,NaN,67.334322,70.427099,NaN,NaN,2023-12-09T07:02:51.916819,NaN,[object Object],NaN,NaN
100,519787222,60287.282373,18.194000,0.057870,19.629752,ztfr,ZTF,1,18.761641,ab,...,NaN,67.334322,70.427099,NaN,NaN,2023-12-10T06:28:10.683603,NaN,[object Object],NaN,NaN
101,519787223,60288.253449,18.285641,0.089602,19.246729,ztfr,ZTF,1,12.117285,ab,...,NaN,67.334437,70.426988,NaN,NaN,2023-12-10T06:28:10.683658,NaN,[object Object],NaN,NaN
102,519851698,60288.253449,18.285601,0.089602,19.246692,ztfr,ZTF,1,12.117321,ab,...,NaN,67.334437,70.426988,NaN,NaN,2023-12-10T07:57:09.512094,NaN,[object Object],NaN,NaN
105,520446296,60289.323750,NaN,NaN,18.586201,ztfr,ZTF,1,NaN,ab,...,NaN,NaN,NaN,NaN,NaN,2023-12-11T09:03:53.566598,NaN,[object Object],NaN,NaN
118,520873334,60290.388333,18.965548,0.087551,19.951783,ztfr,ZTF,1,12.401211,ab,...,NaN,67.334358,70.427035,NaN,NaN,2023-12-12T09:44:32.263595,NaN,[object Object],NaN,NaN

In [19]:
## convert it to a list of lists for each filter, in format [mjd, mag, magerr] for each data point in each filter
data = []
for filter in filters:
    data.append(filter[['mjd', 'mag', 'magerr']].values.tolist())
data
## replace all NaN values with np.inf
data = [[np.nan_to_num(point, nan=np.inf).tolist() for point in filter] for filter in data]

In [20]:
df_dict = {}
for filter, data in zip(df['filter'].unique(), data):
    df_dict[filter] = data
df_dict
## replace all NaNs with np.Inf

{'ztfr': [[60257.28104169993, inf, inf],
  [60257.282500000205, inf, inf],
  [60259.45086809993, inf, inf],
  [60259.45283559989, inf, inf],
  [60261.26679399982, inf, inf],
  [60261.44726849999, inf, inf],
  [60263.367928199936, inf, inf],
  [60263.43427080009, inf, inf],
  [60287.28237270005, 18.19402711354587, 0.0578696504235267],
  [60287.28237270005, 18.19400030880781, 0.0578700006008148],
  [60288.25344910007, 18.285641179732423, 0.089602269232273],
  [60288.25344910007, 18.28560072575516, 0.0896020010113716],
  [60289.32374999998, inf, inf],
  [60290.38833330013, 18.965547803876543, 0.0875508189201354]],
 'ztfg': [[60257.36459490005, inf, inf],
  [60257.366504599806, inf, inf],
  [60258.354409699794, inf, inf],
  [60259.407199100126, inf, inf],
  [60259.43123839982, inf, inf],
  [60261.432129600085, inf, inf],
  [60261.43265049998, inf, inf],
  [60285.23201389983, 19.3423466498898, 0.1513638645410537],
  [60285.23201389983, 19.342300712085613, 0.1513639986515045],
  [60287.14604170015, 18.849651376867484, 0.0884245038032531],
  [60287.20158560015, 18.92650049650385, 0.0772939994931221],
  [60287.20158560015, 18.926485302767556, 0.07729372382164],
  [60288.32125000004, 19.14789989541352, 0.1792619973421096],
  [60288.32125000004, 19.14785430858861, 0.1792623549699783],
  [60289.3682407001, 19.63620024528605, 0.1927520036697387],
  [60289.3682407001, 19.63618678216509, 0.1927521377801895],
  [60290.36612269981, inf, inf]]}

In [21]:
with open('ZTF23absbqun.json', 'w') as fp:
    json.dump(df_dict, fp, indent=4, sort_keys=True)